langchain
python-dotenv
langchain-community
pypdf
bs4
langchain-text-splitters
requests
langchain_chroma
sentence_transformers
langchain_huggingface
faiss-cpu
streamlit
groq
langchain_groq
langchain_core
fastapi
langserve
sse_starlette
wikipedia
arxiv
arxiv
duckduckgo-search
pathlib
sqlalchemy
mysql-connector-python
validators===0.28.1
youtube_transcript_api
pytube
unstructured